.section__clients
  padding-top: 100px
  background-color: #fafafa
  padding-bottom: 100px
  &_main-title
    font-family: $font-Light-third
    font-weight: 300
    color: #222222
    font-size: 60px
    display: flex
    justify-content: center
    @media screen and (max-width: 568px)
      display: block
      text-align: center
  &_main-span
    font-family: $font-Bold-second
    font-weight: 700
    color: #222222
    font-size: 60px
    margin-left: 10px
    margin-bottom: 18px
    @media screen and (max-width: 568px)
      display: block
      text-align: center
  &_main-text
    color: #777777
    font-family: $font-main-first
    font-size: 22px
    font-weight: 400
    display: flex
    justify-content: center
    margin-bottom: 46px
    @media screen and (max-width: 568px)
      text-align: center
  &_block-first
    display: flex
    justify-content: space-between
    margin-bottom: 80px
    @media screen and (max-width: 805px)
      display: block
  &_circle
    background: url("../img/clients-img.png")
    max-width: 230px
    height: 230px
    width: 100%
    @media screen and (max-width: 805px)
      margin: auto
  &_speak-box
    background: url("../img/Speak_Box.png")
    max-width: 663px
    width: 100%
    height: 174px
    margin-top: 30px
    @media screen and (max-width: 960px)
      max-width: 543px
      height: 154px
    @media screen and (max-width: 805px)
      margin: 20px auto
      max-width: 662px
      height: 174px
    @media screen and (max-width: 768px)
      max-width: 500px
      height: 174px
      margin-top: 24px
    @media screen and (max-width: 568px)
      max-width: 280px
      height: 170px
  &_text
    max-width: 490px
    width: 100%
    color: #777777
    font-family: $font-main-first
    font-size: 21px
    font-weight: 400
    line-height: 28px
    padding: 40px 74px 13px 74px
    @media screen and (max-width: 960px)
      max-width: 390px
      padding: 25px 54px 13px 54px
    @media screen and (max-width: 805px)
      max-width: 489px
      font-size: 25px
    @media screen and (max-width: 768px)
      max-width: 350px
      color: #777777
      font-size: 25px
      padding: 20px 74px 13px 74px
    @media screen and (max-width: 568px)
      max-width: 230px
      padding: 10px 24px 13px 24px
      font-size: 14px
  &_authors
    max-width: 331px
    width: 100%
    color: #7690c5
    font-family: $font-main-first
    font-size: 20px
    font-weight: 400
    padding-left: 75px
    @media screen and (max-width: 568px)
      max-width: 230px
      padding-left: 27px
      font-size: 12px
  &_block-second
    display: flex
    justify-content: space-between
    @media screen and (max-width: 805px)
      display: flex
      flex-direction: column
  &_speak-box-second
    background: url("../img/Speak_Box-2.png")
    max-width: 662px
    width: 100%
    height: 174px
    margin-top: 24px
    @media screen and (max-width: 960px)
      max-width: 543px
      height: 134px
    @media screen and (max-width: 805px)
      margin: 0 auto 20px
      max-width: 662px
      height: 174px
    @media screen and (max-width: 768px)
      max-width: 500px
      height: 174px
    @media screen and (max-width: 568px)
      max-width: 280px
      height: 170px

