.section__contact
  padding-top: 100px
  background-color: #7690c5
  padding-bottom: 100px
  &_block-contact
    display: flex
    justify-content: space-between
    @media screen and (max-width: 960px)
      display: block
  &_contact-us
    max-width: 470px
    @media screen and (max-width: 960px)
      max-width: 740px
      margin: 0 auto
    @media screen and (max-width: 768px)
      max-width: 540px
      margin: 0 auto
  &_title
    color: #ffffff
    font-size: 60px
    font-family: "Brandon Grotesque Light",sans-serif
    font-weight: 300
    margin-bottom: 17px
    @media screen and (max-width: 960px)
      text-align: center
  &_title-span
    font-family: "Brandon Grotesque Bold",sans-serif
    font-weight: 700
    color: #ffffff
    font-size: 60px
  &_text-main
    color: #ffffff
    font-family: "Brandon Grotesque",sans-serif
    font-size: 18px
    font-weight: 400
    margin-bottom: 47px
    @media screen and (max-width: 960px)
      text-align: center
  &_item-1
    max-width: 230px
    @media screen and (max-width: 960px)
      margin: auto
  &_item-2
    max-width: 230px
    @media screen and (max-width: 960px)
      margin: auto
  &_block-1,&_block-2,&_block-3,&_block-4,&_block-5,&_block-6
    display: flex
    justify-content: flex-start
    margin-bottom: 40px
  &_text
    margin-left: 15px
    color: #ffffff
    font-family: "Brandon Grotesque",sans-serif
    font-size: 18px
    font-weight: 400
    display: flex
    align-items: center
  &_dictates
    display: flex
    justify-content: space-between
  a
    font-size: 35px
    color: #ffffff
  &_form
    display: flex
    flex-direction: column
    max-width: 470px
    @media screen and (max-width: 960px)
      margin:  auto
      max-width: 660px
      width: 100%
    @media screen and (max-width: 768px)
      margin:  auto
      max-width: 460px
      width: 100%
  &_name,&_email
    width: 360px
    margin-bottom: 25px
    color: #bbbbbb
    font-family: "Brandon Grotesque",sans-serif
    font-size: 18px
    font-weight: 500
    padding: 15px
    @media screen and (max-width: 960px)
      width: 100%
  &_textarea
    width: 360px
    height: 190px
    color: #bbbbbb
    font-family: "Brandon Grotesque",sans-serif
    font-size: 18px
    font-weight: 500
    padding: 15px
    @media screen and (max-width: 960px)
      width: 100%






