.section__home
  padding-top: 161px
  padding-bottom: 125px
  @media screen and (max-width: 768px)
    padding-top: 60px
  &_title
    color: #ffffff
    font-family: $font-main-first
    font-size: 32px
    font-weight: 300
    display: flex
    justify-content: center
    margin-bottom: 41px
    @media screen and (max-width: 768px)
      text-align: center
  &_text
    font-family: $font-main-first
    font-size: 66px
    font-weight: 700
    color: #ffffff
    display: flex
    justify-content: center
    margin-bottom: 69px
    @media screen and (max-width: 768px)
      text-align: center
      font-size: 40px
  &_button
    display: flex
    justify-content: center
  &_link
    font-family: $font-main-first
    font-size: 23px
    font-weight: 700
    border: 2px solid #ffffff
    padding: 25px 69px
    display: inline-block
    box-sizing: border-box
    color: #ffffff
    text-decoration: none
    &:hover
      background-color: #FFFF00
      text-decoration: none
    @media screen and (max-width: 568px)
      padding: 17px 45px
      font-size: 16px
