.section__logos
  padding-top: 60px
  padding-bottom: 60px
  &_around
    display: flex
    justify-content: space-around
  &_img-1
    background: url("../img/img-1.png")
    width: 161px
    height: 30px
  &_img-2
    background: url("../img/img-2.png")
    width: 186px
    height: 42px
  &_img-3
    background: url("../img/img-3.png")
    width: 131px
    height: 41px
  &_img-4
    background: url("../img/img-4.png")
    width: 167px
    height: 42px