.section__services
  padding-top: 100px
  &_web-develop
    display: flex
    justify-content: space-between
    padding-bottom: 100px
    @media screen and (max-width: 768px)
      display: flex
      flex-direction: column-reverse
      padding-bottom: 50px
  &_title-first
    font-family: $font-Light-third
    font-weight: 300
    font-size: 60px
    color: #222222
    margin-bottom: 35px
    @media screen and (max-width: 768px)
      display: flex
      justify-content: center
    @media screen and (max-width: 568px)
      display: flex
      flex-direction: column
      text-align: center
      font-size: 40px
  &_title-second
    font-size: 60px
    color: #222222
    font-family: $font-main-first
    font-weight: 700
    @media screen and (max-width: 768px)
      display: flex
      justify-content: center
      margin-left: 10px
    @media screen and (max-width: 568px)
      display: flex
      flex-direction: column
      text-align: center
      font-size: 40px
  &_text-first
    color: #777777
    font-family: $font-main-first
    font-size: 18px
    font-weight: 400
    margin-bottom: 30px
    max-width: 555px
    @media screen and (max-width: 768px)
      margin: 0 auto
  &_text-second
    color: #777777
    font-family: $font-main-first
    font-size: 18px
    font-weight: 400
    max-width: 555px
    @media screen and (max-width: 768px)
      margin: 25px auto
  &_web
    background: url("../img/services-img-1.png")
    max-width: 221px
    width: 100%
    height: 221px
    @media screen and (max-width: 768px)
      margin: 0 auto 25px
  &_branding
    display: flex
    justify-content: space-between
    padding-top: 100px
    padding-bottom: 100px
    @media screen and (max-width: 768px)
      display: flex
      flex-direction: column
      padding-top: 50px
      padding-bottom: 50px
  &_brand-img
    background: url("../img/branding-img.png")
    max-width: 272px
    width: 100%
    height: 197px
    @media screen and (max-width: 768px)
      margin: 0 auto 25px



